.row{
    background-color: rgb(255, 248, 248) ;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.title{
    color: #5F9EA0 ;
    text-align: center;
    font-family: sans-serif;
}

.col-1 {
    background-color: rgb(135, 200, 253);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;

}

img.octocat {
    width: 150px;
   
}

.col-2 {
    background-color: rosybrown;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
 
}

.col-3 {
    background-color: rgb(210, 223, 222);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.parrafo {
    text-align: center;
}

