*{
    outline: 1px black solid;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0px auto;
    justify-content: space-between;
}
/*Estilo barra de Navegación*/
.nav {
    height: 100px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 40px;
    background-color: #333333;
    color: #ffffff;
    display: flex;
    height: 80px;
    align-items: center;
}
 
.nav-links {
    width: 40%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
}
    
.nav-title {
    margin-left: 30%;
}
    
.btn {
    height: 35px;
    width: 100px;
    background-color: #17a2b8;
    color: #ffffff;
    border: none;
    font-size: 16px;
    box-shadow: 5px 5px #000000;    
    margin-left: 60px;    
}

/*Estilo Perfil de usuario*/
.flex-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.user-card {
    height: 450px;
    width: 1000px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
}

.card-header {
    background-color: #17a2b8;
    height: 125px;
    margin-bottom: 70px;
}

.card-body {
    padding: 20px;
}

.card-body h1, 
.card-body h2,
.card-body h3,
.card-body p {
    margin: 20px 0px;
}

.avatar-m {
    border-radius: 50%;
    background-color: #fff;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.icon-s {
    height: 20px;
}

a {
    color: #3a81e6;
}
.connection-requests {
    height: 300px;
    width: 450px;
    background-color: blue;
    padding-right: 50px;
}

.your-connection {
    height: 350px;
    width: 450px;
    background-color: purple;
    margin-left: 64%;
    position: absolute;
}

.info {
    height: 300px;
    width: 800px;
    background-color: rgb(202, 105, 126);
    margin-left: 350px;
    margin-top: 50px;
}

.row {
    display: flex;
}
