*{
    /*outline: 1px black solid;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    margin: 10px;
    padding: 10px;
}


.container {
    background-color: #FAEBD7;
    margin: 10%;
}

.barra{
    background-color: #8B4513;
    height: 140px;
}

.barra-main{
    background-color: #FAEBD7;
    padding: 10px;
    margin: 10px;
}



.imagen{
    height: 150px;
    width: 150px;
    border-radius: 150px;
    padding: 50px; 
    position: absolute; 
}
.text {
    text-align: left;
    padding-top: 10%;

}

.ubicacion {
    margin-top: 1%;
}

.img {
    height: 25px;
    vertical-align: top;
    margin-left: 30px;
}

.nacionalidad {
    font-size: 21px;
    vertical-align: top;
    margin-left: 10px;
}

.informacion {
    margin-top: 1px;
    padding-left: 30px;
    padding-right: 10px;
}

.config {
    height: 25px;
    vertical-align: top;
    margin-left: 30px;
}

.edicion {
    font-size: 20px;
    vertical-align: top;
    margin-left: 30px;
}

.col-2 {
    border-color: black;
/*    margin-left: ;*/
}